body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background-color:#2727e0 ;
    margin:0 ;
    padding: 0;
    line-height: 1.6;

}

header{
    background-color: #e0a827;
    color: rgba(28, 34, 197, 0);
    padding: 20px;
    text-align: center;

}

header h1{
    margin :0;
}

nav a{
    color: rgb(18, 227, 150);
    text-decoration: none;
    margin:0 10px;

}

nav a:hover{
    text-decoration: underline;

}

main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
    height:auto;
    display:block;
    margin: 20px;
}

footer{
    background-color: #333333;
    color:rgb(255, 255, 255);
    text-align: center;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;

}
p{
    font-size: 1.1em;

}

a{
    color:#5c4caf;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}
img{
    border: 5px solid #af4c56;
    border-radius:10px;
}

main a [href="mailto"] {
    color: #224aff;
    font-weight:bold;

}